/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    help = false
      
    // 8-bit (pixel values will be 0-255) or 16-bit (pixel values will be 0-65,535)
    // Need to add an option for Dual-Band comingin from Hyperion data (0-e)
    bit_depth="16-bit" 
    
    //qupath_object_type="CellObject"  // This has two ROIs & 4 components [Cell, Cytoplasm, Membrane, Nucleus] from QuPath
    qupath_object_type='DetectionObject' // Single Whole Cell or Nucleus only
    
    // QuPath's feild holding the cell names
    classifed_column_name="Classification"
    
    // Pipe delimited list of marker names, that regex will exclude (be careful of partial sub-names like CD3 in CD38)
    exclude_markers="KI67|TIGIT|PD-1|PDL-1|PVR|ANNEXINV|ISOTYPE|STING|TENASCINC|CTLA4|LAG3|GP100|MART1|SOX10|S6|TRYPTASE|ANNEXINV|T-bet/TBX21"
    nucleus_marker="DAPI"
    housekeeping_marker="S6"
    
    // Set this to blank; if you want the method to decide by QRQ evaluation.
    override_normalization="boxcox" //Options: [original, boxcox, quantile, minmax]
    
    
    // How much of the data per batch to with-hold from feature selection and class interpetation
    holdout_fraction=0.05
    filter_out_junk_celltype_labels="??,?,0,Negative"
    minimum_label_count=20
    
    // Feature Selection 
    // subset_training_data="True" //This is not working directly.
    
    
    // Specifically for XGBoost Modeling variables to contols hyper-parameter tuning
    max_xgb_cv = 10
    
    
    
}
