/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    help = false
    
    qupath_object_type='CellObject'  // This has two ROIs
    //QuPath_Object_Type='DetectionObject' // Single Whole Cell or Whole Nucleus only
    
    // Pipe delimited list of marker names, that regex will exclude (be careful of partial sub-names like CD3 in CD38)
    exclude_markers='KI67|TIGIT|PD1|PDL1|PVR|ANNEXINV'
    nucleus_marker='DAPI'
    housekeeping_marker='S6'
}
